<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Vikas Git Hub", "https://github.com/vandevikas/test_app_6", class: "text-white" %></small>
    </div>
</footer>
